.listado-productos {
    background-color: #f3f3f3;
}
.contenedor {
    max-width: 1200px;
    width: 95%;
    padding: 5rem 0;
    margin: 0 auto;
}
.bg-white {
    background-color: #FFF;
}

a:hover{
    text-decoration: none;
    color : none !important;
}
img{
    border: 0 !important;
    vertical-align: middle;
    border-style: none;

}